; This should be copied to "/etc/systemd/system/ss-client.service"
[Unit]
Description=ss-client service
After=network.target

[Service]
; ExecStart=/home/pi/.cargo/bin/cargo run --release
ExecStart=/home/pi/junk/raspberry-pi/ss/ss-client/target/release/ss-client
WorkingDirectory=/home/pi/junk/raspberry-pi/ss/ss-client/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

